
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 33% 98%;
    --foreground: 240 20% 20%;

    --card: 0 0% 100%;
    --card-foreground: 240 20% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 20% 20%;

    --primary: 255 41% 58%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 240 20% 20%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 174 68% 40%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 255 41% 58%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 20% 10%;
    --foreground: 0 0% 98%;

    --card: 240 20% 13%;
    --card-foreground: 0 0% 98%;

    --popover: 240 20% 13%;
    --popover-foreground: 0 0% 98%;

    --primary: 255 41% 58%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 25%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 25%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 174 68% 40%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 25%;
    --input: 240 3.7% 25%;
    --ring: 255 41% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-flowstate-background text-flowstate-dark;
  }
}
